.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1vw 4.5vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 90%;
    position: fixed;
    border-radius: 20px;
}

.navbar-left {
    font-size: 22px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #333;
}

.navbar-message-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}